.header {
   width: 100%;
   height: 100px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav,
.input,
.logo {
   width: 33.333%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.nav_toggle {
   display: none;
   border: none;
   outline: none;
   background: transparent;
   color: white;
   font-size: 24px;
   margin: 0 20px;
}

.nav ul {
   display: flex;
}
.drop {
   display: none;
   position: absolute;
   min-width: 220px;
   z-index: 10;
   background-color: black;
   transition: all 0.3s;
   animation: myAnim 0.3s ease 0s 1 normal forwards;
}
@keyframes myAnim {
   0% {
      transform: scale(0);
   }

   100% {
      transform: scale(1);
   }
}
.drop li {
   margin: 25px 10px;
   font-size: 16px;
   transition: all 0.3s;
   color: #abb8c3;
}
.drop li:before {
   content: "";
   width: 0;
   background-color: #dcca87;
   height: 3px;
   position: absolute;
   bottom: 0;
   transition: all 0.4s ease;
}
.drop li:hover:before {
   width: 20px;
}
.drop li:hover {
   transform: translateX(10px);
   color: #dcca87;
}

.nav ul aside {
   position: relative;
   list-style: none;
   margin: 0 20px;
   cursor: pointer;
   color: #dcca87;
   text-transform: uppercase;
   font-size: 1.2rem;
}
.nav ul aside:hover .drop {
   display: block;
}

.input input {
   padding: 10px 18px;
   color: white;
   background-color: transparent;
   outline: none;
   border: none;
   border-bottom: 0.9px solid #dcca87;
   font-size: 1.1rem;
}
.input input:focus {
   border: none;
}
.icon {
   font-size: 12px;
}

@media screen and (max-width: 950px) {
   .header {
      position: relative;
   }
   .nav {
      display: none;
   }
   .nav_toggle {
      display: block;
   }

   .show_nav {
      width: 100%;
      background-color: red;
      z-index: 10;
   }
   .logo_nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
   .close {
      border: none;
      outline: none;
      background: transparent;
      color: white;
      font-size: 24px;
   }
}
