@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

.container {
   width: 100%;
   height: 130vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-image: url("../../assets/bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   z-index: 2;
}
.text_one,
.text_two {
   width: 40%;
   margin: 0 80px;
}

.text_one h2,
.text_two h2 {
   font-family: "Cormorant Upright", serif;
   color: #dcca87;
   font-size: 5rem;
}

.text_one p,
.text_two p {
   color: #aaaa;
   padding-right: 30px;
   margin: 30px 0;
   font-family: "Open Sans", sans-serif;
}
.text_one h2,
.text_one p {
   text-align: right;
}

.text_one {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.G_image,
.knife_image {
   position: absolute;
   right: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.knife_image {
   z-index: -1;
   width: 80px;
   height: 80px;
}
.G_image {
   z-index: -2;
   width: 500px;
   height: 500px;
}

.button {
   width: 120px;
   height: 40px;
   font-family: "Cormorant Upright", serif;
   background-color: #dcca87;
   border: none;
   outline: none;
   font-weight: 600;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.4s ease;
   align-self: right;
}

.button:hover {
   background-color: black;
   color: #dcca87;
   border: 1px solid #dcca87;
}
@media screen and (max-width: 950px) {
   .container {
      height: auto;
      flex-direction: column;
      background-size: cover;
      /* z-index: 2; */
   }
   .text_one,
   .text_two {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
   }
   .text_one p,
   .text_two p {
      padding: 0;
      text-align: center;
   }
   .G_image,
   .knife_image {
      position: absolute;
      z-index: -1;
   }
}

@media screen and (max-width: 640px) {
   .text_one,
   .text_two {
      width: 80%;
   }
   .text_one h2,
   .text_two h2 {
      font-size: 4rem;
   }
   .knife_image {
      width: 50px;
      height: 50px;
   }
   .G_image {
      width: 300px;
      height: 300px;
   }
}

@media screen and (max-width: 400px) {
   .text_one,
   .text_two {
      width: 100%;
   }
   .text_one h2,
   .text_two h2 {
      font-size: 3.5rem;
   }
}
