.button {
   background-color: #dcca87;
   font-family: "Cormorant Upright", serif;
   border: none;
   outline: none;
   width: 170px;
   height: 40px;
   font-size: 18px;
   font-weight: 700;
   cursor: pointer;
   margin-top: 40px;
   position: relative;
   transition: all 0.35s;
}

.button span {
   position: relative;
   z-index: 2;
}

.button:after {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: #0c0c0c;
   transition: all 0.35s;
}

.button:hover {
   color: #dcca87;
   border: 1px solid #dcca87;
}

.button:hover:after {
   width: 100%;
}
